
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SuperLayout.cshtml";
}



@section West{

    11111
    <button onclick="ajaxTest()">按钮</button>


@*<form method="post" action="http://app-649527f39206496396346d075219414b.apps.supos.ai:8080/index/upload" enctype="multipart/form-data">
    <input name="file" value="文件" type="file" />
    <input type="submit" />
</form>*@

}

<text id="txt"></text>

@section Scripts{

    <script>

        $(function () {
            //alert(window.location.href);
            $("#txt").text(window.location.href);
        });

        function ajaxTest() {

            var data = {
                id:1,
                name:"yyg",
                cars: ["car1", "car2", "car3"]
            };

            //$.ajax({
            //    url: "Easyui/Post",
            //    type: 'post',
            //    data: JSON.stringify(data),
            //    //dataType: "json",
            //    contentType:"application/json;charset=utf-8",
            //    success: function (r) {

            //    },
            //    error: function (r) {
            //        alert(r);
            //    }
            //});

            var url = "api/test/bad";
            $.utility.ajax.get(url, {});

            //$.get(url, function (r) {

            //    alert(r);
            //})


        }


    </script>
    }