<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <target name="info" type="xsi:File" fileName="${basedir}/logs/${shortdate}_Info.htm"
          layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"></target>

    <target name="error" type="xsi:File" fileName="${basedir}/logs/${shortdate}_Error.htm"
      layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"></target>
    
  </targets>

  <rules>

    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="info" final="true"></logger>
    <logger name="*" minlevel="Warn" writeTo="error" final="true"></logger>
    
  </rules>
  
  
</nlog>